<div class="row">
  <div class="large-3 columns">
    <%= f.association :foodstuff, prompt: 'Select foodstuff' %>
  </div>
  <div class="large-3 columns">
    <%= f.input :quantity, placeholder: 'Quantity of ingredient' %>
  </div>
  <div class="large-3 columns">
    <%= f.association :unit, prompt: 'Select unit' %>
  </div>
  <div class="large-3 columns">
    <%= f.link_to_remove "Remove this ingredient", class: "remove-button prefix" %>
  </div>
</div>
