<div class="row">
  <div class="large-6 columns">
    <%= f.text_field :name, placeholder: 'Step in the preparation process' %>
  </div>
  <div class="large-3 columns">
    <%= time_select :f, :time %>
  </div>
  <div class="large-3 columns">
    <%= f.link_to_remove "Remove this step", class: 'button secondary prefix' %>
  </div>
</div>