<header>
  <div class="row">
    <div class="large-12 columns">
      <h1>All Recipes</h1>
      <h4>Listing every recipe in the database</h4>
    </div>
  </div>
</header>
<section id="content">
<div class="row">
  <div class="large-12 columns">
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= link_to "Edit", edit_recipe_path(recipe) %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to "New Recipe", new_recipe_path, class: 'orange-button' %>
  </div>
</div>
</section>