<div class="row">
  <div class="large-12 columns">
    <h1>Listing all Recipes</h1>
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= link_to "Edit", edit_recipe_path(recipe) %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to "New Recipe", new_recipe_path, class: 'custom_button' %>
  </div>
</div>