<div class="row">
  <div class="large-12 columns">
    <h1>Listing all Recipes</h1>
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>