<%= provide(:title, 'Sign Up') %>
<%= content_for :header do %>
    <h2>Sign Up</h2>
    <h4>Register a new account</h4>
<% end %>
<div class="row">
  <div class="small-12 medium-6 columns">
    <%= render 'form', user: @user, submit_text: 'Create Account' %>
  </div>
</div>