<header>
  <div class="row">
    <div class="large-12 columns">
      <h1>Cooking Helper</h1>
      <h4>The one place for all your cooking needs</h4>
    </div>
  </div>
</header>
<section>
  <div class="row">
    <div class="large-6 columns">
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quis dolores aspernatur dolorem error in repellendus aliquid autem architecto facere voluptatem deleniti ipsa consectetur quibusdam nesciunt velit inventore mollitia culpa odit fuga officiis ratione vero optio doloribus cum dicta ex tenetur similique molestias corporis voluptas nam soluta modi. Tenetur, quaerat, ea, sit, eum voluptatem maiores odit expedita deserunt ullam dolore magnam voluptatibus ab vitae dicta quasi reiciendis illum quis molestias dolorum atque aperiam rem quod quia aliquid fugit recusandae nulla nesciunt quisquam quos ipsam. Repellat, blanditiis, sequi facere recusandae amet in molestias tempora voluptate aspernatur hic placeat obcaecati nihil earum fugiat necessitatibus itaque vel pariatur repudiandae provident laborum iste ex sapiente temporibus ipsa deserunt tempore esse cum explicabo veritatis voluptas ipsum nobis ullam quae! Quod, laborum, et ea repudiandae maiores temporibus neque eius cumque perspiciatis necessitatibus fugit quia impedit magni doloribus minima vitae alias quo accusantium aliquid eum sit qui nihil cupiditate optio minus voluptates nemo similique unde omnis voluptatum iste ipsam magnam assumenda consequuntur non quasi mollitia nesciunt obcaecati officia eveniet in accusamus. Culpa, recusandae, alias, unde, quam quibusdam quo vero quidem voluptates ab ex repudiandae molestiae dolorem eos consequuntur numquam? Repellendus, aperiam, doloremque nostrum optio ipsam obcaecati minima!</p>
      </div>
    </div>
    <div class="large-6 columns">
      <%= image_tag("http://upload.wikimedia.org/wikipedia/commons/b/b9/Cake_quarters.svg", width: '100%', class: 'centered') %>
    </div>
  </div>
</section>