<%= content_for :header do %>
<h1>Cooking Helper</h1>
<h4>The place for your cooking needs</h4>
<% end %>
  <div class="row">
    <div class="large-6 columns">
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, sed, voluptas nobis non iste officia nesciunt repellat nemo? Aut, neque adipisci dolor nemo itaque rem repellendus hic obcaecati sit harum.</p>
      </div>
    </div>
    <div class="large-6 columns">
      <%= image_tag("http://upload.wikimedia.org/wikipedia/commons/b/b9/Cake_quarters.svg", width: '100%', class: 'centered') %>
    </div>
  </div>