<header>
  <div class="row">
    <div class="large-12 columns">
      <h1>Cooking Helper</h1>
      <h4>The one place for all your cooking needs</h4>
    </div>
  </div>
</header>
<section>
  <div class="row">
    <div class="large-12-centered columns">
      <%= image_tag("http://upload.wikimedia.org/wikipedia/commons/b/b9/Cake_quarters.svg", width: '100%', class: 'centered') %>
    </div>
  </div>
</section>