<%= provide(:title, "Home") %>
<%= content_for :header do %>
<h1>Cooking Helper</h1>
<h4>The place for your cooking needs</h4>
<% end %>
<div class="row">
  <div class="large-12 columns">
    <%= link_to "Sign up", signup_path, class: 'orange-button' %>
  </div>
</div>