@import "foundation_and_overrides";

$active: true;
$orange: #FF6700;
$reddish: #BB413D;

.orange-button {
  @include button-base;
  @include button-size;
  @include button-style($orange);
  @include single-transition;
  @include inset-shadow($active);
}

.submit-button {
  @include button-base;
  @include button-size;
  @include button-style($orange);
  @include single-transition;
  @include inset-shadow($active);
  margin: 0;
}

.small-orange-button {
  @include button-base;
  @include button-size($button-sml);
  @include button-style($orange);
  @include single-transition;
  @include inset-shadow($active);
  margin: 0;
}

.remove-button {
  @include button-base;
  @include button-size($button-sml);
  @include button-style($reddish);
  @include single-transition;
  @include inset-shadow($active);
}

.right {
  float: right;
}
