$reddish: #BB413D;
$radius: true;
$active: true;

@mixin custom-button($color, $size: $button-med) {
  @include button-base;
  @include button-size($size);
  @include button-style($color, $radius);
  @include single-transition;
  @include inset-shadow($active);
}

.orange-button {
  @include custom-button($primary-color)
}

.submit-button {
  @include custom-button($primary-color);
  margin: 0
}

.small-orange-button {
  @include custom-button($primary-color, $button-sml);
  margin: 0
}

.remove-button {
  @include custom-button($reddish, $button-sml)
}

.back-button {
  @include custom-button($secondary-color)
}

.right {
  float: right;
}
