$dark-orange: #803300;
$dark: #333333;
$white: #FFFFFF;

header {
background: rgb(255,179,104); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,179,104,1) 0%, rgba(255,114,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,179,104,1)), color-stop(100%,rgba(255,114,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,179,104,1) 0%,rgba(255,114,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,179,104,1) 0%,rgba(255,114,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,179,104,1) 0%,rgba(255,114,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,179,104,1) 0%,rgba(255,114,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb368', endColorstr='#ff7200',GradientType=0 ); /* IE6-9 */

margin-bottom: emCalc(20);
box-shadow: 0px 4px 8px $dark-orange;

h2, h4 {
  color: $white;
}
}

footer {
  margin-top: emCalc(20);
  padding-top: emCalc(20);
  padding-left: emCalc(20);
  padding-right: emCalc(20);
  color: $white;
  background: $dark;
}
