header {
  background: $primary-light;
  margin-bottom: rem-calc(20);
  box-shadow: 0px 4px 8px $dark-orange;

  h2, h4 {
    color: $white;
  }
}

footer {
  margin-top: rem-calc(20);
  padding-top: rem-calc(20);
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
  color: $white;
  background: $dark;
}
