<footer>
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, ullam, perferendis, eos, nobis rerum vitae maiores expedita voluptate voluptates corporis architecto illo culpa facilis! Ipsa, eius nobis aperiam perferendis deserunt!</p>
  </div>
</footer>